.typing-challenge-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 4px;
}

.details-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.typewriter-container {
  display: flex;
  flex-grow: 1;
}
